body{
    background-color: rgba(255, 255, 255, 0.911);
    
}
#home-link {
  color: rgb(240, 237, 237);
}
#home-link:hover {
  text-decoration: none;
}

.alert-success{
    background-color: rgb(236, 6, 6);
    color: white;
}
.alert-heading{
    color:white;
}


#biglietto {
    margin: auto;
    margin-bottom: 10%;
    width: 50%;
    border: 2px solid black;
    
}

#b-header {
    padding: 2px;
    padding-left: 4%;
    background-color:  rgb(40, 29, 22);
    color:white;
    font-size: 30px;
}
#b-main {
    margin-top: 1%;
    display:flex;    
    align-items:flex-start;
}

#b-utente {
    margin-left: 10%;
}

#b-dettagli {
    margin: 0;
    padding: 0;
}

#codice {
    margin-top: 17%;
    margin-left: 20%;
}

#b-evento ul li {
    list-style-type: none;
    padding: 0;
    box-sizing: border-box; 
    display: inline-block;
}

ul li {
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;    
}

ul {
    display: flex;
    flex-direction: column;
}
