
/*body{
    background-color:  rgba(254, 230, 171, 0.911);
    
}*/

.alert-success{
background-color: rgb(40, 29, 22);
margin-left: 10%;
margin-right: 10%;
font-size: 20%;
margin-top: 1%;
border: 1px solid white;
}
h4{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.img-fluid{
    margin-left: 10%;
    margin-top: 0%;
    width: 80%;
}
.table{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;

}

tr:nth-child(even) {

    background-color: rgb(187, 187, 187);
}
thead{
    background-color: rgb(40, 29, 22);
    color: white;
}
.btn-warning{
    background-color: rgb(40, 29, 22);
    color: white;
    
}
#descrizione{
    color: white;
    font-size: 2vw;
}