@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, section, article, aside, footer, header, main, nav {
	padding: 0;
	margin: 0;
}


.banner {
	background-color: #08298A;
	color: white;
	padding: 10px 20px;
}

* {
    box-sizing: border-box;
}

body {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: #EFF5FB;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
}

.main_links {
	background-color: #A9BCF5;
	padding: 5px;
	margin-top: 1px;
}

li a {
	color: white;
}

.main_links li {
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}

a:hover {
	color: black;
}

.evento {
	background-color: #F7F8E0;
	margin-top: 10px;
	padding: 5px;
	float: left;
	border-style: groove;	
}

.zone {
	background-color: #E6E6E6;
	margin-top: 10px;
	margin-left: auto;
	padding: 5px;
	float: right;
	margin-bottom: 5%;
}

.zone h2 {
	padding: 8px;
}

article {
	background-color: white;
	padding: 5px 5px;
	margin-top: 5px;
}


.footer_links {
	clear: both;
	background-color: #A9BCF5;
	padding: 5px 20px;	
}

.footer_links li {
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 15px;
}

section p{

	background-color: white;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

/* For desktop: */
.zone { width: 75%; }
.evento { width: 24%; }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .evento, .zone, .main_link {
        width: 100%;
    }
}
